# node
node_modules/
dist/
.vite/

# .NET
bin/
obj/

# env
.env
.env.*
!.env.example
!**/.env.example
docker-compose.override.yml
compose.override.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# build
backend/.build-obj/

# logs
*.log
.logs


# db
*.db

# uploads
backend/src/CarDamageClaims.Api/storage/

# SQLite WAL
*.db-wal
*.db-shm


# test
.test
